{% extends "home.html" %}
{% block content %}
<div>
<h2>Faculty CL and RH</h2>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Casual leave (CL)</th>
            <th>Restricted leave (RH)</th>
            <th>Total leave (TL)</th>
            <th>Remaining leave </th>
            <th>percentage of leave taken</th>
            <th>status of leave </th>
        </tr>
    </thead>
    <tbody>
        {% for faculty in faculties %}
        <tr>
            <td>{{ faculty.name }}</td>
            <td>{{ faculty.CL }}</td>
            <td>{{ faculty.RH }}</td>
            <td>{{ faculty.TL }}</td>
            <td>{{ faculty.remaining_TL }}</td>
            <td>{{ faculty.per }}%</td>
            <td>{{ faculty.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}